.skills {
    margin-bottom: 40px;
  }
  
  .skills__header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .skills__icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .skills__category {
    font-size: 20px;
    font-weight: bold;
  }
  
  .skills__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .skills__list-item {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eaeaea;
  }
  